@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  .header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: #19A7CE;
    position: fixed;
    width: 100vw;
  }
  .menu-header>a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
  }
  .menu-header>a:hover{
    text-decoration: underline #ffffff;
    color: #ffffff;
    transition: 1s;
    font-weight: bold;
  }
  .contato-nav>a{
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
    font-size: 40px;
  }
  .contato-nav>a:hover{
    color: #F6F1F1;
    transition: 1s;
  }
  /*.contato-nav>:first-child:hover{
    color: #2b97c8;
    transition: 1s;
  }
  .contato-nav>:nth-child(2):hover{
    color: #171c20;
    transition: 1s;
  }
  .contato-nav>:last-child:hover{
    color: #0a5cb0;
    transition: 1s;
  }*/

  /*fim--do--header*/

  .main{
    background: #1c1b29;
    background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
    height: 100vh;
  }
  #home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    height: 100vh;
  }
  .welcome-content{
    color: #F6F1F1;
    font-size: 150%;
  }
  .circle-animation{
  width: 330px;
  height: 330px;
  background-color: #F6F1F1;
  border-radius: 50%;
}
.mini-circle{
  width: 150px;
  height: 150px;
  background-color: #F6F1F1;
  border-radius: 50%;
  margin-left: 200px;
}
#image1{
  width: 90%;
  height: 90%;
  margin-top: -31%;
  margin-left: 10%;
}
img{
  animation: flutuacao 4s ease-in-out infinite;
}
@keyframes flutuacao {
  0%, 100%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(-30px);
  }
}

/*fim--do--home*/

#sobre{
  background: #1c1b29;
  background: linear-gradient(90deg, #133252 0%, #04213e 32%, #011a34 66%);
  display: flex;
  justify-content: center;
  align-items: center; 
  justify-content: space-around;
  padding: 100px 0;
  height: 100vh;
  .header::after{
    background-color: #000000;
  }
}
.texto{
  color: #F6F1F1;
  width: 30%;
}
.box-conhecimentos{
  width: 300px;
  height: 500px;
  background-color: #1c1b29;
  border-radius: 16px;
  border: #F6F1F1 solid 2px;
}
.titulo-box>h2{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #F6F1F1;
  padding: 10px;
  margin: 10px;
}
.icons-dev{
  font-size: 80px;
  color: #F6F1F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon{
  margin: 20px 20px;
  padding: 10px;
}

/*fim--do--sobre*/

#projetos{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0;
  background: #1c1b29;
  background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
  height: 100vh;
}
.titulo-page{
  color: #F6F1F1;
}
.box-projetos{
  width: 700px;
  height: 400px;
  background: #1c1b29;
  background: linear-gradient(90deg, #133252 0%, #04213e 32%, #011a34 66%);
  border-radius: 16px;
  border: #F6F1F1 solid 4px;
}

/*fim--do--projetos*/

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0;
  color: #F6F1F1;
  background: #1c1b29;
  background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
}