@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
#header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-color: #19a7ce;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
#header > button {
  visibility: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  visibility: visible;
}
.barra {
  height: 30px;
  width: 3px;
  background-color: #000000;
  margin: 0 40px;
}
.navbar > a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.navbar > a:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: 1s;
  font-weight: bold;
}
.contato-nav > a {
  text-decoration: none;
  color: #000000;
  margin: 0 20px;
  font-size: 40px;
}
.contato-nav > a:hover {
  color: #f6f1f1;
  transition: 1s;
}
*::-webkit-scrollbar {
  display: none;
}
/*fim--do--header*/

/*#main {
  height: 100vh;
}*/

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0;
  height: 100vh;
  background: #1c1b29;
  background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
}
.welcome-content {
  color: #f6f1f1;
  font-size: 150%;
}
.circle-animation {
  width: 330px;
  height: 330px;
  background-color: #f6f1f1;
  border-radius: 50%;
}
.mini-circle {
  width: 150px;
  height: 150px;
  background-color: #f6f1f1;
  border-radius: 50%;
  margin-left: 200px;
}
#image1 {
  width: 90%;
  height: 90%;
  margin-top: -31%;
  margin-left: 10%;
}
img {
  animation: flutuacao 4s ease-in-out infinite;
}
@keyframes flutuacao {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-30px);
  }
}

/*fim--do--home*/

#sobre {
  background: #1c1b29;
  background: linear-gradient(90deg, #133252 0%, #04213e 32%, #011a34 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 160px 0;
  height: 100vh;
}
.texto {
  color: #f6f1f1;
  width: 30%;
}
/*.texto > h2 {
  padding-top: 110px;
}*/
.box-conhecimentos {
  width: 40vw; /*500px*/
  height: 60vh; /*600px*/
  background-color: #1c1b29;
  border-radius: 16px;
  border: #f6f1f1 solid 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titulo-box > h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f6f1f1;
  padding: 10px;
  margin-top: 10%;
}
.icons-dev {
  display: flex;
  color: #f6f1f1;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  margin: auto;
  width: 100%;
  height: 70%;
  justify-content: center;
}
.icons1 {
  display: flex;
  align-items: center;
  margin: 20% 0;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  font-size: 50px;
}
.icons2 {
  display: flex;
  align-items: center;
  margin: 20% 0;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 50px;
}

/*fim--do--sobre*/

#projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 160px 0;
  background: #1c1b29;
  background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
  height: 100vh;
}
.titulo-page {
  color: #f6f1f1;
}
.box-projetos {
  width: 60vw; /*700px*/
  height: 50vh; /*400px*/
  background: #1c1b29;
  background: linear-gradient(90deg, #133252 0%, #04213e 32%, #011a34 66%);
  border-radius: 16px;
  border: #f6f1f1 solid 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-projetos a {
  text-decoration: none;
  color: #f6f1f1;
  background-color: #133252;
  border-radius: 16px;
  padding: 40px;
  margin: 5px;
  text-align: center;
}
/*fim--do--projetos*/

#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  color: #f6f1f1;
  background: #1c1b29;
  background: linear-gradient(90deg, #1c1b29 0%, #0a0a11 32%, #000000 66%);
}

@media screen and (max-width: 1020px) {
  .icons-dev > div > i {
    font-size: 50px;
  }
  .icons-dev {
    margin-top: 10%;
  }
}
@media screen and (max-width: 900px) /* and (min-width: 540px) */ {
  #header {
    justify-content: space-between;
  }
  #header > button {
    visibility: visible;
    height: 40px;
    width: 40px;
    font-size: 25px;
    background: transparent;
    border: none;
    margin-right: 10px;
  }
  .barra {
    display: none;
  }
  .navbar {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    margin-top: 60px;
    top: 0;
    right: 0;
    background-color: #19a7ce;
    height: 100vh;
    width: 50vw;
  }
  .navbar > a {
    margin: 40px 0;
  }
  .contato-nav > a {
    margin: 10px;
  }
  .contato-nav {
    margin-top: 10%;
  }
  #home {
    flex-direction: column;
  }
  .welcome-content {
    margin: 10px 30px;
  }
  .welcome-content > h2 {
    margin: 40px 0;
  }
  .circle-animation {
    width: 210px;
    height: 210px;
    margin-top: 50px;
  }
  .mini-circle {
    width: 70px;
    height: 70px;
    margin-left: 150px;
  }
  #image1 {
    width: 80%;
    height: 80%;
    margin-top: -16%;
    margin-left: 14%;
  }
  #sobre {
    flex-direction: column;
    height: 125vh;
  }
  .texto {
    width: 80%;
  }
  .texto > p {
    margin: 14px 0;
  }
  .texto > h2 {
    margin-top: -70px;
  }
  .box-conhecimentos {
    width: 80%;
    height: 100%;
    margin-top: 10px;
  }
  .icons-dev {
    flex-direction: column;
    color: #f6f1f1;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2%;
  }
  .icon {
    font-size: 50px;
  }
  #projetos {
    flex-direction: column;
  }
  .titulo-page {
    margin-top: -60px;
  }
  .box-projetos {
    width: 80%;
    height: 600px;
    margin-top: 30px;
  }
  #footer {
    flex-direction: column;
    margin-top: -70px;
  }
}
@media screen and (max-width: 540px) {
  .icons-dev > div > i {
    font-size: 45px;
  }
  .texto {
    font-size: 14px;
  }
  .titulo-box > h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .contato-nav {
    display: flex;
    flex-direction: column;
  }
  .navbar > a {
    margin: 15px 0;
  }
  .welcome-content {
    font-size: 130%;
  }
  #sobre {
    height: 125vh;
  }
}
@media screen and (max-width: 340px) {
  .icons-dev > div > i {
    font-size: 40px;
    margin: 2%;
  }
  .texto {
    font-size: 12px;
  }
  .contato-nav {
    display: flex;
    flex-direction: column;
  }
  .navbar > a {
    font-size: 16px;
  }
  .welcome-content {
    font-size: 100%;
  }
  .logomarca > h2 {
    font-size: 18px;
  }
  .circle-animation {
    width: 180px;
    height: 180px;
  }
  .mini-circle {
    width: 60px;
    height: 60px;
    margin-left: 135px;
  }
}
